.commentsBoard {
  margin-top: 10px;
  position: relative;
  margin-top: 6px;
  position: relative;
  top: 4px;
  background-color: white;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  .hideComments {
    font-size: 14px;
    color: #FFA640;
    text-decoration: underline;
    cursor: pointer;
    padding-top: 25px;
    padding-left: 20px;
    margin-bottom: 30px;
  }
}


@media screen and (max-width: 520px) {
  .commentsBoard  {
     .hideComments {
        text-align: center;
    }
  }
}
