* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
}

.boxShadow {
  box-shadow: 0 0 4px 0 rgba(172,172,172,0.50);
  border-radius: 5px;
}

img {
  display: block;
}
